.header img{
	width: 100%;
}

.navbar {
	padding: 3%;
	padding-left: 0%;

}
.navbar ul li{
	list-style: none;
	text-align: left;
	margin: 8px;
	margin-left: 0px;
	border-style: solid;
	border-color: #57246F;
}

.navbar ul li a{
	text-align: center;
}

.contenaire {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  border: 0;
  box-sizing: border-box;
  font-size: 14px;
}

